.clearfix:before,.clearfix:after{display: table;content: "";}
.clearfix:after{clear: both;}
.clearfix{zoom:1;}
body{font-family:arial;}
.wrap{width:100%;}
.banner{width: 100%;border-bottom:8px solid red;}
.banner img{-webkit-background-size: cover;w
background-size: cover;width: 100%;}
.main{width: 100%;padding-top:50px;}
.main-inner{width:72.2772%;margin:0 auto;background-image: url(../images/11.jpg);background-repeat: no-repeat;}
.main-inner .content{width: 58%;margin-left: 3%;padding-top: 3%;float: left;}
.main-inner .content div{border-bottom:1px dashed #868686;width: 100%;padding-bottom:9%;}
.main-inner .content div a{display: block;width: 21%;height: 40px;padding-left:2%;text-decoration: none;line-height: 33px;
	background-image: url(../images/black.png);background-repeat: no-repeat;float: left;/*margin-left: 4%;*/color:white;font-size:1em;}
.main-inner .content div a:hover{background-image: url(../images/red.png);background-repeat: no-repeat;}
.main-inner .content p{font-size: 0.9em;margin-top: 3%;line-height: 30px;}
.main-inner .content p a{text-decoration: none;color:#db0020;}
aside{float: right;padding-top: 2.5%;width:353px;}
aside div a:first-child{float:left;}
aside div a:last-child{float: right;margin-top: 40px;font-size:1em;text-decoration: none;color: red;}
aside .pic{background-color: #f8f8f8;border:1px solid #e2e2e2;margin-top: 58px;}
aside .pic img{margin:6px 3px 6px 3px;}
aside ul{margin-top: 30px;}
aside ul li{background-image: url(../images/v.png);background-repeat: no-repeat;
    font-size:1.1em;line-height:28px;
	background-position: left center;}
aside ul li a{color:#5c5c5c;text-decoration: none;margin-left: 4%;/*margin-right: 16%;*/font-size:0.8em;}
.bottom{margin-top: 500px;padding-bottom: 10px;border-bottom: 1px dashed gray;}
.bottom a:first-child{float: left;}
.bottom a:last-child{float: right;color: red;text-decoration: none;}
.block{margin-top: 30px;margin-bottom: 120px;}
@media screen and (max-width:480px){
	body{font-size: 10px;}
	
}